<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>

    <div id="app">
        <span>Scrivi un messaggio</span>

        <!-- nel v-model l'utente inserisce un testo
        Man mano che scrive, il testo andrà a popolare h1 sottostante -->
        <input v-model="message">

        <div class="box">
            <h1 class="title">{{ message }}</h1>

        </div>

        <!-- bonus -->
        <!-- inserimento di un'immagine attraverso
             i data -->

        <img :src="image" alt="">
        <br>
        <br>

        <!-- 2 bonus
        inserire un input dove l'utente scrive il suo nome
        creo uno span e all'interno salutiamo l'utente riportando il
        nome appena aggiunto
         -->

        <input v-model= "name">
        <!-- <button @click="saluto">click me!!!</button>

        <br>

         <span>Ciao {{ name }}</span> -->


        <button @click="saluto">Cliccami per creare un'immagine</button>
        <span>
            <img :src="createImage" alt="">
        </span>

         


    </div>
    



    <script src="js/script.js"></script>
</body>
</html>